apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: scale-{{ name }}-cluster-task
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: task-ws
  steps:
    - name: tealc-clone
      image: quay.io/rh_integration/strimzi-tools:latest
      script: |
        export CURRENT_DIR=$(workspaces.task-ws.path)/tealc
        git clone https://github.com/ExcelentProject/tealc.git $CURRENT_DIR
    - name: scale
      env:
        - name: OC_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: username
        - name: OC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: password
        - name: OC_API_URL
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: server
      image: quay.io/tealc/apophis:latest
      script: |
        set +x

        oc login -u $OC_USERNAME -p $OC_PASSWORD $OC_API_URL --insecure-skip-tls-verify=true

        set -x

        $(workspaces.task-ws.path)/tealc/scripts/label-cluster.sh
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: scale-{{ name }}-cluster-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: scale-{{ name }}-cluster
      taskRef:
        name: scale-{{ name }}-cluster-task
      workspaces:
        - name: task-ws
          workspace: pipeline-ws

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: scale-{{ name }}-cluster-trigger-template
  labels:
    project: tealc
spec:
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: scale-{{ name }}-cluster-
        labels:
          app: tealc
      spec:
        pipelineRef:
          name: scale-{{ name }}-cluster-pipeline
        serviceAccountName: pipeline
        workspaces:
          - name: pipeline-ws
            volumeClaimTemplate:
              metadata:
                name: scale-{{ name }}-cluster-pvc
              spec:
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 1Gi
---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: scale-{{ name }}-cluster-triggerbinding
  labels:
    project: tealc
spec: {}

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: scale-{{ name }}-cluster-event-listener
  labels:
    listener: tealc
    project: tealc
spec:
  serviceAccountName: pipeline
  triggers:
    - name: scale-{{ name }}-cluster-webhook
      bindings:
        - ref: scale-{{ name }}-cluster-triggerbinding
      template:
        ref: scale-{{ name }}-cluster-trigger-template

---
# cron job as trigger
apiVersion: batch/v1
kind: CronJob
metadata:
  name: scale-{{ name }}-cluster-cron
  labels:
    project: tealc
spec:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  schedule: "0 */1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: notify
              image: quay.io/tealc/apophis:latest
              args:
                - curl
                - -d
                - "{}"
                - -H
                - 'Content-Type: application/json'
                - el-scale-{{ name }}-cluster-event-listener.tealc.svc.cluster.local:8080
          restartPolicy: Never