apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: twitter-app-copy-secret-task
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: task-ws
  steps:
    - name: tealc-clone
      image: quay.io/rh_integration/strimzi-tools:latest
      script: |
        export CURRENT_DIR=$(workspaces.task-ws.path)/tealc
        git clone https://github.com/ExcelentProject/tealc.git $CURRENT_DIR
    - name: copy
      env:
        - name: OC_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: username
        - name: OC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: password
        - name: OC_API_URL
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: server
      image: quay.io/tealc/apophis:latest
      script: |
        set +x

        oc login -u $OC_USERNAME -p $OC_PASSWORD $OC_API_URL --insecure-skip-tls-verify=true

        set -x

        $(workspaces.task-ws.path)/tealc/scripts/copy-secrets.sh
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: twitter-app-copy-secret-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: twitter-app-copy-secret
      taskRef:
        name: twitter-app-copy-secret-task
      workspaces:
        - name: task-ws
          workspace: pipeline-ws
