---
version: 3

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.3
  ansible_runner:
    package_pip: ansible-runner==2.3.4
  galaxy: ../install/collections/requirements.yml
  system:
    - jq
    - wget
    - tar
    - skopeo
    - maven
    - java-17-openjdk-devel
  python:
    - python-openstackclient
    - awscli
    - passlib
  python_interpreter:
    python_path: "/usr/bin/python3.11"

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

additional_build_steps:
  prepend_base:
    - RUN $PKGMGR groupinstall -y "Development Tools"
    - RUN $PKGMGR install -y  yum-utils make gcc libcurl-devel libxslt-devel libxml2-devel openssl-devel bzip2-devel libffi-devel zlib-devel python3.11 python3.11-devel httpd-tools
    - RUN $PYCMD --version
  append_final:
    - RUN echo This is a post-install command!
    - RUN curl https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/4.14.1/openshift-client-linux-4.14.1.tar.gz -o openshift-client-linux.tar.gz && tar xzf openshift-client-linux.tar.gz && rm -f openshift-client-linux.tar.gz && mv oc /usr/bin/oc && mv kubectl /usr/bin/kubectl
    - RUN /usr/bin/dnf install -y https://kojipkgs.fedoraproject.org//packages/git-crypt/0.6.0/7.el8/x86_64/git-crypt-0.6.0-7.el8.x86_64.rpm
    - RUN curl -O https://mirror.openshift.com/pub/rhacs/assets/4.2.0/bin/Linux/roxctl && chmod +x roxctl && mv roxctl /usr/bin/roxctl
    - RUN curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash && mv kustomize /usr/bin/

options:
  workdir: /build
  user: root
