---
version: 3

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.3
  ansible_runner:
    package_pip: ansible-runner==2.15.3
  galaxy: ../install/collections/requirements.yml
  system:
    - tar
    - wget
    - jq
  python:
    - python-openstackclient
    - awscli
  python_interpreter:
    python_path: "/usr/local/bin/python3.10"

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

additional_build_steps:
  prepend_base:
    - RUN $PKGMGR install -y  wget yum-utils make gcc openssl-devel bzip2-devel libffi-devel zlib-devel
    - RUN wget https://www.python.org/ftp/python/3.10.8/Python-3.10.8.tgz
    - RUN tar xzf Python-3.10.8.tgz
    - RUN cd Python-3.10.8 && ./configure --with-system-ffi --with-computed-gotos --enable-loadable-sqlite-extensions && make -j ${nproc} && make altinstall
    - RUN rm Python-3.10.8.tgz
    - RUN $PYCMD --version
  append_final:
    - RUN echo This is a post-install command!
    - RUN curl https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/stable/openshift-client-linux.tar.gz -o openshift-client-linux.tar.gz && tar xzf openshift-client-linux.tar.gz && rm -f openshift-client-linux.tar.gz && mv oc /usr/bin/oc && mv kubectl /usr/bin/kubectl
    - RUN /usr/bin/dnf install -y https://kojipkgs.fedoraproject.org//packages/git-crypt/0.6.0/7.el8/x86_64/git-crypt-0.6.0-7.el8.x86_64.rpm
    - RUN curl -O https://mirror.openshift.com/pub/rhacs/assets/4.2.0/bin/Linux/roxctl && chmod +x roxctl && mv roxctl /usr/bin/roxctl

options:
  workdir: /build
  user: root