apiVersion: loki.grafana.com/v1
kind: LokiStack
metadata:
  name: logging-loki
  namespace: openshift-logging
spec:
  managementState: Managed
  replicationFactor: 2
  # This is unsupported configuration, but we want to have lower requirements for pods, it should work fine, if not, pelase use 1x.small
  size: 1x.extra-small
  storage:
    schemas:
      - effectiveDate: '2022-06-01'
        version: v12
    secret:
      name: {{ logging_loki_s3_secret }}
      type: s3
  storageClassName: standard-csi
  tenants:
    mode: openshift-logging
  template:
    ingester:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    compactor:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    distributor:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    gateway:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    indexGateway:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    querier:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
    queryFrontend:
      nodeSelector:
        nodetype: monitoring
      tolerations:
        - effect: NoSchedule
          key: nodetype
          operator: Equal
          value: monitoring
  limits:
    global:
      retention:
        days: 10
        streams:
          - days: 1
            priority: 1
            selector: '{kubernetes_namespace_name="strimzi-clients"}'
          - days: 1
            priority: 1
            selector: '{kubernetes_pod_name=~"kronos.*"}'
          - days: 1
            priority: 1
            selector: '{kubernetes_pod_name=~".*twitter-parser.*"}'
          - days: 5
            priority: 1
            selector: '{log_type="infrastructure"}'
      ingestion:
        ingestionBurstSize: 60
        ingestionRate: 40
        maxGlobalStreamsPerTenant: 50000
      queries:
        maxChunksPerQuery: 2000000
        maxEntriesLimitPerQuery: 10000
        maxQuerySeries: 3000
        queryTimeout: 1m
