apiVersion: loki.grafana.com/v1
kind: LokiStack
metadata:
  name: logging-loki
  namespace: openshift-logging
spec:
  managementState: Managed
  size: 1x.extra-small
  storage:
    schemas:
      - effectiveDate: '2022-06-01'
        version: v12
    secret:
      name: {{ logging_loki_s3_secret }}
      type: s3
  storageClassName: standard-csi
  tenants:
    mode: openshift-logging
  limits:
    global:
      retention:
        days: 10
        streams:
          - days: 1
            priority: 1
            selector: '{kubernetes_namespace_name="strimzi-clients"}'
          - days: 1
            priority: 1
            selector: '{kubernetes_pod_name=~"kronos.*"}'
          - days: 1
            priority: 1
            selector: '{kubernetes_pod_name=~".*twitter-parser.*"}'
          - days: 5
            priority: 1
            selector: '{log_type="infrastructure"}'
      ingestion:
        ingestionRate: 5
