apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-alerts-{{ cluster }}
  labels:
    project: skodjob
    app: argo
spec:
  project: monitoring
  source:
    repoURL: https://github.com/skodjob/deployment-hub
    targetRevision: {{ deployment_hub_branch }}
    path: metrics/alerts/argo
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ cluster }}
    namespace: skodjob-gitops
