apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: amq-streams-kafka
  labels:
    project: tealc
    app: amq-streams
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: amq-streams/kafka
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
