apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: tekton-secret
    app.kubernetes.io/part-of: tekton
    app: tealc
  name: {{ worker.name }}-tekton
type: Opaque
stringData:
  username: {{ worker.username }}
  password: {{ worker.password }}
  server: {{ worker.api_url }}
