apiVersion: v1
kind: Secret
metadata:
  name: {{ worker.name }}-argo-access
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: cluster
    app: tealc
type: Opaque
stringData:
  name: {{ worker.name }}
  server: {{ worker.api_url }}
  config: |
    {
      "bearerToken": "{{ access_token }}",
      "tlsClientConfig": {
        "insecure": true
      }
    }
