apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-main
  namespace: openshift-monitoring
  labels:
    project: tealc
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 10m

    route:
      group_by: ['alertname']
      group_wait: 1m
      group_interval: 5m
      repeat_interval: 24h
      receiver: 'default_blackhole'
      routes:
        - receiver: telegram
          match:
            app: tealc

    receivers:
    - name: 'default_blackhole'
    - name: 'telegram'
      telegram_configs:
      - bot_token: {{ telegram_alert_bot_token }}
        api_url: https://api.telegram.org
        chat_id: {{ telegram_alert_chat_id }}
        parse_mode: Markdown
        message: '\[*{{ clusterName }}*] {% raw %}\[Alert *{{ .Status }}*{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join " " }}{% endraw %}'
