apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
  labels:
    project: tealc
data:
  config.yaml: |
    enableUserWorkload: true
    prometheusK8s:
      externalLabels:
        clusterName: {{ clusterName }}
        pod_name_label: $(POD_NAME)
      volumeClaimTemplate:
        spec:
          storageClassName: standard-csi
          resources:
            requests:
              storage: 40Gi
