apiVersion: v1
kind: Secret
metadata:
  name: {{ worker.value.name }}-argo-access
  labels:
    argocd.argoproj.io/secret-type: cluster
    app: tealc
    project: tealc
    environment: {{ worker.value.environment }}
    name: {{ worker.value.name }}
    workload: "{{ worker.value.workload }}"
type: Opaque
stringData:
  name: {{ worker.value.name }}
  server: {{ worker.value.api_url }}
  config: |
    {
      "bearerToken": "{{ access_token }}",
      "tlsClientConfig": {
        "insecure": true
      }
    }
