kind: Secret
apiVersion: v1
metadata:
  name: {{ logging_loki_s3_secret }}
  namespace: openshift-logging
data:
  access_key_id: {{ aws_access_key_id }}
  access_key_secret: {{ aws_access_key_secret }}
  bucketnames: {{ bucket_names }}
  endpoint: {{ aws_endpoint }}
  region: {{ aws_region }}
type: Opaque
