apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ cluster.name }}
  annotations:
    managedcluster-import-controller.open-cluster-management.io/keeping-auto-import-secret: ""
stringData:
  autoImportRetry: "5"
  token: {{ cluster.token }}
  server: {{ cluster.serverUrl }}
type: Opaque
