apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ clusterName }}
stringData:
  autoImportRetry: "5"
  kubeconfig: {{ clusterKubeconfig }}
  server: {{ clusterApiUrl }}
type: Opaque
