kind: ConfigMap
apiVersion: v1
metadata:
  name: observability-metrics-custom-allowlist
  # let kubed sync the config map accross all namespaces
  annotations:
    kubed.appscode.com/sync: ""
data:
  metrics_list.yaml: |
    names:
      - container_cpu_usage_seconds_total
      - container_memory_usage_bytes
    matches:
      - __name__=~".*kafka|strimzi|jvm|argo.*"
  uwl_metrics_list.yaml: |
    names: 
      - container_memory_usage_bytes
      - container_cpu_usage_seconds_total
    matches:
      - __name__=~".*kafka|strimzi|jvm|argo.*"
