kind: ConfigMap
apiVersion: v1
metadata:
  name: observability-metrics-custom-allowlist
  # let kubed sync the config map accross all namespaces
  annotations:
    kubed.appscode.com/sync: ""
data:
  uwl_metrics_list.yaml: |
    names: []
    matches:
      - __name__=~".*"
