apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: lets-encrypt
spec:
  acme:
    email: jstejska@redhat.com
    privateKeySecretRef:
      key: key
      name: tealc-cert-manager
    server: 'https://acme-v02.api.letsencrypt.org/directory'
    solvers:
      - dns01:
          route53:
            hostedZoneID: {{ hosted_zone_id }}
            region: us-east-1
            accessKeyIDSecretRef:
              name: {{ cm_route53_credentials }}
              key: {{ cm_route53_access_key_ref }}
            secretAccessKeySecretRef:
              name: {{ cm_route53_credentials }}
              key: {{ cm_route53_secret_key_ref }}
