apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ingress-cert-lets-encrypt
spec:
  commonName: apps.{{ cluster_name }}.{{ cluster_domain }}
  dnsNames:
    - '*.apps.{{ cluster_name }}.{{ cluster_domain }}'
    - apps.{{ cluster_name }}.{{ cluster_domain }}
  issuerRef:
    kind: ClusterIssuer
    name: lets-encrypt
  secretName: {{ cm_certificate_secret }}
  secretTemplate:
    # let kubernetes-replicator sync the config map accross all namespaces
    annotations:
      replicator.v1.mittwald.de/replicate-to-matching: "secret=cert-manager"
