apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: thor-test-suite-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: thor
      workspaces:
        - name: pipeline-ws
          workspace: pipeline-ws
      taskSpec:
        workspaces:
          - name: pipeline-ws
        steps:
          - name: execute-tests
            image: quay.io/mk-ci-cd/mas-ci-tools:latest
            env:
              - name: WORKER_01_USERNAME
                valueFrom:
                  secretKeyRef:
                    name: worker-01-tekton
                    key: username
              - name: WORKER_01_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: worker-01-tekton
                    key: password
              - name: WORKER_01_URL
                valueFrom:
                  secretKeyRef:
                    name: worker-01-tekton
                    key: server
              - name: WORKER_02_USERNAME
                valueFrom:
                  secretKeyRef:
                    name: worker-02-tekton
                    key: username
              - name: WORKER_02_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: worker-02-tekton
                    key: password
              - name: WORKER_02_URL
                valueFrom:
                  secretKeyRef:
                    name: worker-02-tekton
                    key: server
              - name: WORKER_03_USERNAME
                valueFrom:
                  secretKeyRef:
                    name: worker-03-tekton
                    key: username
              - name: WORKER_03_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: worker-03-tekton
                    key: password
              - name: WORKER_03_URL
                valueFrom:
                  secretKeyRef:
                    name: worker-03-tekton
                    key: server
            script: |
              mkdir -p /opt/thor
              cd /opt/thor

              git clone https://github.com/ExcelentProject/thor.git

              cd thor
              export JAVA_HOME=/usr/lib/jvm/java-17-openjdk
              mvn test --no-transfer-progress
  finally:
    - name: notify-slack
      when:
        - input: $(tasks.status)
          operator: in
          values: ["Failed"]
      taskRef:
        name: send-to-webhook-slack
      params:
        - name: webhook-secret
          value: webhook-secret
        - name: message
          value: "Pipeline `$(context.pipeline.name)`:`$(context.pipelineRun.name)` failed!"

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: thor-test-suite-trigger-template
  labels:
    project: tealc
spec:
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: thor-test-suite-
        labels:
          app: tealc
      spec:
        pipelineRef:
          name: thor-test-suite-pipeline
        workspaces:
          - name: pipeline-ws
            volumeClaimTemplate:
              metadata:
                name: thor-test-suite-pipeline-pvc
              spec:
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Mi

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: thor-test-suite-triggerbinding
  labels:
    project: tealc
spec:
  params:
    - name: message
      value: $(body)

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: thor-test-suite-event-listener
  labels:
    listener: tealc
    project: tealc
spec:
  triggers:
    - name: thor-test-suite-webhook
      bindings:
        - ref: thor-test-suite-triggerbinding
      template:
        ref: thor-test-suite-trigger-template
  resources:
    kubernetesResource:
      spec:
        template:
          spec:
            containers:
            - resources:
                limits:
                  memory: "64Mi"
                  cpu: "50m"

---
# cron job as trigger
apiVersion: batch/v1
kind: CronJob
metadata:
  name: thor-test-suite-cron
  labels:
    project: tealc
spec:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  schedule: "0 */1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: notify
              image: quay.io/tealc/apophis:latest
              args:
                - curl
                - -d
                - "{}"
                - -H
                - 'Content-Type: application/json'
                - el-thor-test-suite-event-listener.tealc-pipelines.svc.cluster.local:8080
          restartPolicy: Never
