apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: skodjob-keycloak
  namespace: {{ rhbk_namespace }}
spec:
  bootstrapAdmin:
    user:
      secret: skodjob-keycloak-admin
  db:
    host: postgres-db
    passwordSecret:
      key: password
      name: keycloak-db-secret
    usernameSecret:
      key: username
      name: keycloak-db-secret
    vendor: postgres
  http:
    tlsSecret: default-tls-secret
  ingress:
    className: openshift-default
    enabled: true
  instances: 2