apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: open-data-hub-operator
  labels:
    project: skodjob
    app: open-data-hub
spec:
  project: open-data-hub
  source:
    repoURL: https://github.com/skodjob/deployment-hub
    targetRevision: HEAD
    path: open-data-hub/install
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
  destination:
    name: {{ cluster }}
    namespace: opendatahub-operator-system
