apiVersion: hive.openshift.io/v1
kind: ClusterImageSet
metadata:
  name: {{ cluster.name }}-imageset
spec:
  releaseImage: quay.io/openshift-release-dev/ocp-release:{{ cluster.version }}-x86_64
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster.name }}
  namespace: {{ hive_namespace }}
spec:
  baseDomain: {{ cluster_domain }}
  clusterName: {{ cluster.name }}
  platform:
    openstack:
      cloud: {{ cluster.cloud }}
      credentialsSecretRef:
        name: {{ openstack_clouds_yaml }}
  provisioning:
    installConfigSecretRef:
      name: {{ install_config_name }}
    sshPrivateKeySecretRef:
      name: {{ kafka_ssh_secret_name }}
    imageSetRef:
      name: {{ cluster.name }}-imageset
  pullSecretRef:
    name: {{ openshift_pull_secret_name }}
