---
- name: Create Strimzi related Tekton pipelines
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    src: "{{ item }}"
    verify_ssl: no
    apply: true
  with_fileglob: 'templates/tekton/pipelines/strimzi-deployment/*.yaml'

- name: Create infra/worker cluster related Tekton pipelines
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    src: "{{ item }}"
    verify_ssl: no
    apply: true
  with_fileglob: 'templates/tekton/pipelines/infra/*.yaml'

- name: Sleep for 20 seconds and continue with play (wait tull everything is setup)
  wait_for:
    timeout: 20

- name: Create Strimzi related Tekton pipeline runs
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    src: "templates/tekton/pipelines/strimzi-deployment/run/pipeline-runs.yaml"

- name: Create Tekton pipelines from jinja templates for main_cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  with_fileglob: 'templates/tekton/pipelines/*.j2'
  vars:
    name: "{{ workers.main_cluster.name }}"

- name: Create Tekton pipelines for test suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  with_fileglob: 'templates/tekton/pipelines/test-suite/*.j2'
  vars:
    name: "{{ workers.main_cluster.name }}"

- name: Create collector metrics for test suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    src: "templates/tekton/pipelines/test-suite/metrics-collector.yaml"

- name: "Rollout collector"
  shell: "oc rollout restart deployment/tealc-metrics-collector -n {{ infra_ci_namespace }}"
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}/{{ infra_context_name }}"

- name: Create Tekton pipelines from jinja templates for release_cluster and downstream_cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2"
  loop: "{{ workers | dict2items }}"
  loop_control:
    loop_var: worker
