kind: ConfigMap
apiVersion: v1
metadata:
  name: argocd-cm
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  admin.enabled: 'true'
  statusbadge.enabled: 'false'
  resource.exclusions: ''
  ga.trackingid: ''
  repositories: ''
  ga.anonymizeusers: 'false'
  help.chatUrl: ''
  url: {{ route }}
  help.chatText: ''
  kustomize.buildOptions: ''
  resource.inclusions: ''
  repository.credentials: ''
  dex.config: |
    connectors:
    - config:
        clientID: system:serviceaccount:argocd:argocd-dex-server
        clientSecret: {{ access_token }}
        insecureCA: true
        issuer: https://kubernetes.default.svc
        redirectURI: {{ route }}/api/dex/callback
      id: openshift
      name: OpenShift
      type: openshift
  users.anonymous.enabled: 'false'
  configManagementPlugins: ''
  application.instanceLabelKey: ''