---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: dex-server
    app.kubernetes.io/name: argocd-dex-server
    app.kubernetes.io/part-of: argocd
  annotations:
    serviceaccounts.openshift.io/oauth-redirecturi.argocd: {{ redirect_uri }}
  name: argocd-dex-server