apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-monitoring-enablement-{{ cluster }}
  labels:
    project: tealc
    app: strimzi
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/grafana/deployment
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ cluster }}
    namespace: strimzi-monitoring
