apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: tekton-secret
    app.kubernetes.io/part-of: tekton
    app: tealc
    project: tealc
  name: {{ worker.value.name }}-tekton
type: Opaque
stringData:
  username: {{ worker.value.username }}
  password: {{ worker.value.password }}
  server: {{ worker.value.api_url }}
