{% if is_worker is defined %}
{% set namespace = cluster.monitoring_namespace %}
{% set name = cluster.name %}
{% else %} 
{% set namespace = infra_monitoring_namespace %}
{% set name = infra_context_name %}
{% endif %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ name }}-grafana
  namespace: {{ namespace }}
  labels:
    app: grafana
    project: skodjob
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ name }}-grafana
  namespace: {{ namespace }}
  labels:
    app: grafana
    project: skodjob
  annotations:
    kubernetes.io/service-account.name: {{ name }}-grafana
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-cluster-monitoring-binding
  namespace: {{ namespace }}
  labels:
    app: grafana
    project: skodjob
subjects:
  - kind: ServiceAccount
    namespace: {{ namespace }}
    name: {{ name }}-grafana
roleRef:
  kind: ClusterRole
  name: cluster-monitoring-view
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  namespace: {{ namespace }}
  name: grafana-proxy
  labels:
    app: grafana
    project: skodjob
rules:
  - verbs:
      - create
    apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
  - verbs:
      - create
    apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
---
apiVersion: authorization.openshift.io/v1
kind: ClusterRoleBinding
metadata:
  namespace: {{ namespace }}
  name: grafana-proxy
  labels:
    app: grafana
    project: skodjob
roleRef:
  kind: ClusterRole
  name: grafana-proxy
subjects:
  - kind: ServiceAccount
    name: {{ name }}-grafana
    namespace: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    config.openshift.io/inject-trusted-cabundle: "true"
    app: grafana
    project: skodjob
  name: ocp-injected-certs
  namespace: {{ namespace }}
