apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-drain-cleaner-{{ cluster }}
  labels:
    project: skodjob
    app: strimzi
spec:
  project: monitoring
  source:
    repoURL: https://github.com/skodjob/deployment-hub
    targetRevision: HEAD
    path: metrics/alerts/strimzi-drain-cleaner
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    managedNamespaceMetadata:
      labels:
        project: skodjob
  destination:
    name: {{ cluster }}
    namespace: strimzi-kafka
