apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ target.name }}-source
  labels:
    project: "tealc"
    managed: "true"
  annotations:
    # Exclude from ArgoCD sync
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/hook: Skip
spec:
  instanceSelector:
    matchLabels:
      dashboards: "tealc"
  name: middleware.yaml
  datasource:
    name: {{ target.name }}
    type: prometheus
    access: proxy
    # url: https://thanos-querier.openshift-monitoring.svc.cluster.local:9091
    url: {{ target.url }}
    basicAuth: false
    basicAuthUser: internal
    isDefault: false
    version: 1
    editable: true
{% if target.name != 'tealc-thanos' %}
    jsonData:
      tlsSkipVerify: true
      timeInterval: "5s"
      httpHeaderName1: "Authorization"
    secureJsonData:
      httpHeaderValue1: "Bearer {{ access_token }}"
{% endif %}
