{% if worker is defined %} 
{% set label = 'strimzi' %}
{% else %} 
{% set label = 'tealc' %} 
{% endif %}
apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana
  labels:
    project: tealc
spec:
  ingress:
    enabled: True
  config:
    log:
      mode: "console"
      level: "warn"
    security:
      admin_user: "admin"
      admin_password: "admin"
    auth:
      disable_login_form: False
      disable_signout_menu: True
    auth.anonymous:
      enabled: True
  baseImage: docker.io/grafana/grafana:9.4.7
  dashboardLabelSelector:
    - matchExpressions:
        - {key: app, operator: In, values: [strimzi,tealc]}
  resources:
    limits:
      cpu: 1000m
      memory: 800Mi
    requests:
      cpu: 100m
      memory: 200Mi
