apiVersion: v1
kind: Secret
metadata:
  name: {{ worker.name }}-access
  labels:
    argocd.argoproj.io/secret-type: cluster
    project: skodjob
    environment: {{ worker.environment }}
    name: {{ worker.name }}
    workload: "{{ worker.workload }}"
type: Opaque
stringData:
  name: {{ worker.name }}
  server: {{ worker.serverUrl }}
  token: {{ access_token }}
  config: |
    {
      "bearerToken": "{{ access_token }}",
      "tlsClientConfig": {
        "insecure": true
      }
    }
