---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ clusterId }}-monitoring-0
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-monitoring-0
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-monitoring-0
    spec:
      metadata:
        labels:
          nodetype: monitoring
      taints:
        - key: nodetype
          value: monitoring
          effect: NoSchedule
      providerSpec:
        value:
          cloudName: openstack
          networks:
            - subnets:
                - filter:
                    tags: openshiftClusterID={{ clusterId }}
          userDataSecret:
            name: worker-user-data
          serverGroupName: {{ clusterId }}-worker
          cloudsSecret:
            name: openstack-cloud-credentials
            namespace: openshift-machine-api
          serverMetadata:
            Name: {{ clusterId }}-worker
            openshiftClusterID: {{ clusterId }}
          securityGroups:
            - filter: {}
              name: {{ clusterId }}-worker
          trunk: true
          kind: OpenstackProviderSpec
          tags:
            - openshiftClusterID={{ clusterId }}
          image: {{ clusterImage }}
          apiVersion: openstackproviderconfig.openshift.io/v1alpha1
          flavor: g.standard.xxxl
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ clusterId }}-logging-0
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-logging-0
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-logging-0
    spec:
      metadata:
        labels:
          nodetype: logging
      taints:
        - key: nodetype
          value: logging
          effect: NoSchedule
      providerSpec:
        value:
          cloudName: openstack
          networks:
            - subnets:
                - filter:
                    tags: openshiftClusterID={{ clusterId }}
          userDataSecret:
            name: worker-user-data
          serverGroupName: {{ clusterId }}-worker
          cloudsSecret:
            name: openstack-cloud-credentials
            namespace: openshift-machine-api
          serverMetadata:
            Name: {{ clusterId }}-worker
            openshiftClusterID: {{ clusterId }}
          securityGroups:
            - filter: {}
              name: {{ clusterId }}-worker
          trunk: true
          kind: OpenstackProviderSpec
          tags:
            - openshiftClusterID={{ clusterId }}
          image: {{ clusterImage }}
          apiVersion: openstackproviderconfig.openshift.io/v1alpha1
          flavor: g.standard.xxl
---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ clusterId }}-worker-0
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
spec:
  replicas: 5
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-worker-0
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-worker-0
    spec:
      metadata:
        labels:
          nodetype: worker
      providerSpec:
        value:
          cloudName: openstack
          networks:
            - subnets:
                - filter:
                    tags: openshiftClusterID={{ clusterId }}
          userDataSecret:
            name: worker-user-data
          serverGroupName: {{ clusterId }}-worker
          cloudsSecret:
            name: openstack-cloud-credentials
            namespace: openshift-machine-api
          serverMetadata:
            Name: {{ clusterId }}-worker
            openshiftClusterID: {{ clusterId }}
          securityGroups:
            - filter: {}
              name: {{ clusterId }}-worker
          trunk: true
          kind: OpenstackProviderSpec
          tags:
            - openshiftClusterID={{ clusterId }}
          image: {{ clusterImage }}
          apiVersion: openstackproviderconfig.openshift.io/v1alpha1
          flavor: g.standard.xxl
