apiVersion: v1
kind: ConfigMap
metadata:
  name: user-workload-monitoring-config
  namespace: openshift-user-workload-monitoring
  labels:
    project: tealc
data:
  config.yaml: |
    prometheus:
      externalLabels:
        clusterName: {{ clusterName }}
        prometheus_pod: $(POD_NAME)
      volumeClaimTemplate:
        spec:
          storageClassName: standard-csi
          resources:
            requests:
              storage: 40Gi
