---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ clusterName }}-{{ node_type }}-worker-0
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
spec:
  replicas: {{ node_replicas }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-{{ node_type }}-worker-0
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-{{ node_type }}-worker-0
    spec:
      metadata:
        labels:
          nodetype: {{ node_type }}
{% if node_type != "infra" and node_type != "odh" %}
      taints:
        - key: nodetype
          value: {{ node_type }}
          effect: NoSchedule
{% endif %}
      providerSpec:
        value:
          cloudName: openstack
          networks:
            - subnets:
                - filter:
                    name: {{ clusterId }}-nodes
                    tags: openshiftClusterID={{ clusterId }}
          userDataSecret:
            name: worker-user-data
          serverGroupName: {{ clusterId }}-worker
          cloudsSecret:
            name: openstack-cloud-credentials
            namespace: openshift-machine-api
          serverMetadata:
            Name: {{ clusterId }}-worker
            openshiftClusterID: {{ clusterId }}
          securityGroups:
            - filter: {}
              name: {{ clusterId }}-worker
          trunk: true
          kind: OpenstackProviderSpec
          tags:
            - openshiftClusterID={{ clusterId }}
          image: {{ clusterImage }}
          apiVersion: openstackproviderconfig.openshift.io/v1alpha1
          flavor: {{ node_flavor }}
