---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-logging-sa
  namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-apps-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-logging-write-application-logs
subjects:
  - kind: ServiceAccount
    name: cluster-logging-sa
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-collect-apps-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: collect-application-logs
subjects:
  - kind: ServiceAccount
    name: cluster-logging-sa
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-infra-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-logging-write-infrastructure-logs
subjects:
  - kind: ServiceAccount
    name: cluster-logging-sa
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-collect-infra-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: collect-infrastructure-logs
subjects:
  - kind: ServiceAccount
    name: cluster-logging-sa
    namespace: openshift-logging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-audit-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-logging-write-audit-logs
subjects:
  - kind: ServiceAccount
    name: cluster-logging-sa
    namespace: openshift-logging
---
apiVersion: observability.openshift.io/v1
kind: ClusterLogForwarder
metadata:
  name: logging
  namespace: openshift-logging
spec:
  managementState: Managed
  serviceAccount:
    name: cluster-logging-sa
  collector:
    resources:
      limits: {}
      requests: {}
    nodeSelector: {}
    tolerations:
      - effect: NoSchedule
        key: nodetype
        value: kafka
      - effect: NoSchedule
        key: nodetype
        value: services
      - effect: NoSchedule
        key: nodetype
        value: logging
      - effect: NoSchedule
        key: nodetype
        value: monitoring
  inputs:
    - name: application-logs
      type: application
      application:
        includes:
          - namespace: strimzi*
          - namespace: debezium*
          - namespace: skodjob*
          - namespace: streams*
        excludes:
          # Skip all clients namespaces
          - namespace: strimzi-clients
          - namespace: strimzi-clients-kraft
          - namespace: strimzi-clients-mirror
          # Skip producers and consumers in streams-kroxy, streams-kroxy-filters, streams-kroxy-oauth
          - namespace: streams-kroxy*
            container: producer
          - namespace: streams-kroxy*
            container: consumer
  outputs:
    - name: default-lokistack
      type: lokiStack
      lokiStack:
        target:
          name: logging-loki
          namespace: openshift-logging
        authentication:
          token:
            from: serviceAccount
      tls:
        ca:
          key: service-ca.crt
          configMapName: openshift-service-ca.crt
  pipelines:
    - name: application-and-infra-logs
      outputRefs:
        - default-lokistack
      inputRefs:
        - application-logs
        - infrastructure
