apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-dashboards
  labels:
    project: tealc
    app: strimzi
spec:
  project: monitoring
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/grafana/dashboards
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
  destination:
    name: {{ cluster }}
    namespace: {{ infra_monitoring_namespace }}
