apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-connect
  labels:
    project: tealc
    app: strimzi
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: strimzi/twitter-connector/connect
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
