{
  "Comment": "Update A record for cluster APPS",
  "Changes": [
    {
      "Action": "{{ action }}",
      "ResourceRecordSet": {
        "Name": "{{ record_prefix }}.{{ cluster.name }}.{{ cluster_domain }}",
        "Type": "A",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "{{ fip }}"
          }
        ]
      }
    }
  ]
}
