apiVersion: v1
baseDomain: strimzi.app-services-dev.net
compute:
  - name: worker
    platform:
      openstack:
        type: {{ cluster.worker_flavor }}
    replicas: {{ cluster.worker_node_count }}
    architecture: amd64
controlPlane:
  name: master
  platform:
    openstack:
      type: {{ cluster.master_flavor }}
  replicas: {{ cluster.master_node_count }}
  architecture: amd64
metadata:
  name: {{ cluster.name }}
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: 192.169.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  openstack:
    cloud: {{ cluster.cloud }}
    externalDNS: null
    externalNetwork: {{ cluster.openstack_network }}
    ingressFloatingIP: {{ fip_apps }}
    apiFloatingIP: {{ fip_api }}
fips: false
