apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ cluster.name }}-{{ node_type }}
  namespace: {{ hive_namespace }}
spec:
  clusterDeploymentRef:
    name: {{ cluster.name }}
  name: {{ node_type }}
  platform:
    openstack:
      flavor: {{ node_flavor }}
  replicas: {{ node_replicas }}
  tains:
    - key: nodetype
      value: {{ node_type }}
      effect: NoSchedule
