apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
    - name: "Local Users"
      mappingMethod: claim
      type: HTPasswd
      htpasswd:
        fileData:
          name: htpasswd-secret

{% if sso_ca_name is defined %}
    - mappingMethod: claim
      name: openid
      openID:
        ca:
          name: {{ sso_ca_name }}
        claims:
          email:
            - email
          name:
            - name
          preferredUsername:
            - preferred_username
        clientID: ocp
        clientSecret:
          name: {{ sso_ocp_client_secret }}
        extraScopes: []
        issuer: https://keycloak-skodjob-sso.apps.{{ infra_context_name }}.{{ cluster_domain }}/auth/realms/skodjob-realm
      type: OpenID
{% endif %}
