apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
    - name: "Local Users"
      mappingMethod: claim
      type: HTPasswd
      htpasswd:
        fileData:
          name: htpasswd-secret

{% if keycloak_openshift is defined %}
    - mappingMethod: claim
      name: keycloak
      openID:
        claims:
          email:
            - email
          name:
            - name
          preferredUsername:
            - preferred_username
          groups:
            - groups
            - realm_access.roles
        clientID: openshift
        clientSecret:
          name: keycloak-client-secret
        issuer: https://skodjob-keycloak-ingress-skodjob-keycloak.{{ infra_context_name }}.{{ cluster_domain }}/realms/openshift
      type: OpenID
{% endif %}
