---
- name: "Create Argo applications for Strimzi alerts on {{ workers.main_cluster.name }} cluster"
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_argo_namespace }}"
    state: present
    apply: true
    template: "{{ item }}"
    verify_ssl: no
  vars:
    cluster: "{{ workers.main_cluster.name }}"
    namespace: "{{ workers.main_cluster.monitoring_namespace }}"
  with_fileglob: "templates/argo/applications/monitoring/alerts/{{ workers.main_cluster.name }}/*.j2"

- name: "Create Argo applications for Strimzi alerts on {{ workers.downstream_cluster.name }} cluster"
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_argo_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  vars:
    cluster: "{{ workers.downstream_cluster.name }}"
    namespace: "{{ workers.downstream_cluster.monitoring_namespace }}"
  with_fileglob: "templates/argo/applications/monitoring/alerts/{{ workers.downstream_cluster.name }}/*.j2"

- name: Create Argo applications for dashboards on infra cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_argo_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  vars:
    cluster: "in-cluster"
  with_fileglob: 'templates/argo/applications/monitoring/dashboards/*.j2'

- name: Create Argo applications for alerts on infra cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_argo_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  vars:
    cluster: "in-cluster"
  with_fileglob: 'templates/argo/applications/monitoring/alerts/infra/*.j2'
