apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: strimzi-clients-task
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: task-ws
  steps:
    - name: kafka-route
      image: quay.io/openshift/origin-cli:latest
      env:
        - name: USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: username
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: password
        - name: SERVER
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: server
      script: |
        oc login -u $USERNAME -p $PASSWORD --insecure-skip-tls-verify=true $SERVER
        export ROUTE=$(oc get kafka -n strimzi-kafka anubis -o=jsonpath='{.status.listeners[?(@.type=="automation")].bootstrapServers}')

        if [ -z "${ROUTE}" ]; then
            echo "[ERROR] Route is not available!"
            exit 1
        fi

        echo $ROUTE >> $(workspaces.task-ws.path)/route.txt
        cat $(workspaces.task-ws.path)/route.txt
    - name: sokar-clone
      image: quay.io/rh_integration/strimzi-tools:latest
      env:
        - name: GITHUB_USERNAME
          valueFrom:
            secretKeyRef:
              name: github-secret
              key: USERNAME
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: github-secret
              key: TOKEN
      script: |
        export CURRENT_DIR=$(workspaces.task-ws.path)/sokar
        git clone https://github.com/ExcelentProject/sokar.git $CURRENT_DIR
        chmod -R 777 $CURRENT_DIR
    - name: clients-update
      image: quay.io/rh_integration/strimzi-tools:latest
      script: |
        export ROUTE=$(cat $(workspaces.task-ws.path)/route.txt)
        yq -i e '.spec.template.spec.containers[0].env.[] |= select(.name == "BOOTSTRAP_SERVERS") |= .value=env(ROUTE)' $(workspaces.task-ws.path)/sokar/clients/strimzi/00-external-clients.yaml
        cat $(workspaces.task-ws.path)/sokar/strimzi/clients/00-external-clients.yaml
    - name: sokar-push
      image: quay.io/rh_integration/strimzi-tools:latest
      env:
        - name: GITHUB_USERNAME
          valueFrom:
            secretKeyRef:
              name: github-secret
              key: USERNAME
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: github-secret
              key: TOKEN
      script: |
        export CURRENT_DIR=$(workspaces.task-ws.path)/sokar
        cd $CURRENT_DIR
        git config user.email "$GITHUB_USERNAME@redhat.com"
        git config user.name "$GITHUB_USERNAME"
        git remote set-url origin "https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/ExcelentProject/sokar"
        git remote get-url origin
        git add .
        git diff --staged --quiet || git commit -m "Kafka clients update: $(date "+%Y-%m-%d %T")"
        git push origin HEAD:main
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: strimzi-clients-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: strimzi
      taskRef:
        name: strimzi-clients-task
      workspaces:
        - name: task-ws
          workspace: pipeline-ws
---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: strimzi-clients-pipeline-run
  labels:
    app: tealc
    project: tealc
spec:
  workspaces:
    - name: pipeline-ws
      volumeClaimTemplate:
        metadata:
          name: pipeline-pvc
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi
  pipelineRef:
    name: strimzi-clients-pipeline
  serviceAccountName: pipeline
