apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: thor-test-suite-task
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: task-ws
  steps:
    - name: execute-tests
      image: quay.io/app-sre/mk-ci-tools:latest
      env:
        - name: OC_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: username
        - name: OC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: password
        - name: OC_API_URL
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: server
      script: |
        set +x

        oc login -u $OC_USERNAME -p $OC_PASSWORD $OC_API_URL --insecure-skip-tls-verify=true

        mkdir -p /opt/thor
        cd /opt/thor

        set -x
        
        git clone https://github.com/ExcelentProject/thor.git
        
        cd thor

        mvn test --no-transfer-progress
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: thor-test-suite-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: thor
      taskRef:
        name: thor-test-suite-task
      workspaces:
        - name: task-ws
          workspace: pipeline-ws

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: thor-test-suite-trigger-template
  labels:
    project: tealc
spec:
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: thor-test-suite-
        labels:
          app: tealc
      spec:
        pipelineRef:
          name: thor-test-suite-pipeline
        workspaces:
          - name: pipeline-ws
            volumeClaimTemplate:
              metadata:
                name: thor-test-suite-pipeline-pvc
              spec:
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 500Mi

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: thor-test-suite-triggerbinding
  labels:
    project: tealc
spec:
  params:
    - name: message
      value: $(body)

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: thor-test-suite-event-listener
  labels:
    listener: tealc
    project: tealc
spec:
  triggers:
    - name: thor-test-suite-webhook
      bindings:
        - ref: thor-test-suite-triggerbinding
      template:
        ref: thor-test-suite-trigger-template
  resources:
    kubernetesResource:
      spec:
        template:
          spec:
            containers:
            - resources:
                limits:
                  memory: "64Mi"
                  cpu: "50m"

---
# cron job as trigger
apiVersion: batch/v1
kind: CronJob
metadata:
  name: thor-test-suite-cron
  labels:
    project: tealc
spec:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  schedule: "0 */1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: notify
              image: quay.io/tealc/apophis:latest
              args:
                - curl
                - -d
                - "{}"
                - -H
                - 'Content-Type: application/json'
                - el-thor-test-suite-event-listener.tealc.svc.cluster.local:8080
          restartPolicy: Never
