{% if worker is defined %}
{% set name = worker.value.name %}
{% endif %}
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: upgrade-{{ name }}-cluster-task
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: task-ws
  steps:
    - name: execute-tests
      image: quay.io/tealc/apophis:latest
      env:
        - name: OC_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: username
        - name: OC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: password
        - name: OC_API_URL
          valueFrom:
            secretKeyRef:
              name: {{ name }}-tekton
              key: server
      script: |
        set +x

        oc login -u $OC_USERNAME -p $OC_PASSWORD $OC_API_URL --insecure-skip-tls-verify=true

        set -x

        oc get clusterversion

        oc adm upgrade

        oc adm upgrade --to-latest=true

        sleep 120

        IS_UPGRADING="true"
        while [[ $IS_UPGRADING == "true" ]]; do
          if [[ "$(oc get clusterversion -o=jsonpath='{.items[0].status.history[0].completionTime}')" == "null" ]]; then
            echo "Cluster is in upgrade state"
          else
            IS_UPGRADING="false"
          fi
          sleep 10
        done
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: upgrade-{{ name }}-cluster-pipeline
  labels:
    project: tealc
  annotations:
    argocd.argoproj.io/hook: PreSync
spec:
  workspaces:
    - name: pipeline-ws
  tasks:
    - name: upgrade
      taskRef:
        name: upgrade-{{ name }}-cluster-task
      timeout: 4h
      workspaces:
        - name: task-ws
          workspace: pipeline-ws

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: upgrade-{{ name }}-cluster-trigger-template
  labels:
    project: tealc
spec:
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: upgrade-{{ name }}-cluster-
        labels:
          app: tealc
      spec:
        pipelineRef:
          name: upgrade-{{ name }}-cluster-pipeline
        serviceAccountName: pipeline
        workspaces:
          - name: pipeline-ws
            volumeClaimTemplate:
              metadata:
                name: upgrade-{{ name }}-cluster-pvc
              spec:
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 1Gi
---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: upgrade-{{ name }}-cluster-triggerbinding
  labels:
    project: tealc
spec: {}

---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: upgrade-{{ name }}-cluster-event-listener
  labels:
    listener: tealc
    project: tealc
spec:
  serviceAccountName: pipeline
  triggers:
    - name: upgrade-{{ name }}-cluster-webhook
      bindings:
        - ref: upgrade-{{ name }}-cluster-triggerbinding
      template:
        ref: upgrade-{{ name }}-cluster-trigger-template

---
# cron job as trigger
apiVersion: batch/v1
kind: CronJob
metadata:
  name: upgrade-{{ name }}-cluster-cron
  labels:
    project: tealc
spec:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  schedule: "0 */12 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: notify
              image: quay.io/tealc/apophis:latest
              args:
                - curl
                - -d
                - "{}"
                - -H
                - 'Content-Type: application/json'
                - el-upgrade-{{ name }}-cluster-event-listener.tealc.svc.cluster.local:8080
          restartPolicy: Never
