---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: logging-loki-logs-reader
rules:
  - apiGroups:
      - loki.grafana.com
    resourceNames:
      - logs
    resources:
      - application
      - infrastructure
      - audit
    verbs:
      - get
      - create
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-loki-grafana-logs-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: logging-logs-reader
subjects:
  - kind: ServiceAccount
    name: 	logging-loki-gateway
    namespace: openshift-logging
