apiVersion: monitoring.coreos.com/v1beta1
kind: AlertmanagerConfig
metadata:
  name: tealc-alerts
spec:
  route:
    groupBy: [ 'alertname' ]
    groupWait: 1m
    groupInterval: 5m
    repeatInterval: 24h
    receiver: 'default_blackhole'
    routes:
      - receiver: email
        match:
          app: tealc
  receivers:
    - name: 'default_blackhole'
    - name: 'email'
      emailConfigs:
      - to: '{{ smtp_email }}'
        from: '{{ smtp_email }}'
        headers:
          - key: subject
            value: '[tealc-infra] {% raw %}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join " " }}{% endraw %}'
        smarthost: {{ smtp_server }}
        require_tls: true
        authUsername: {{ smtp_username }}
        authPassword:
            name: smtp-secret
            key: smtp_password
        sendResolved: true
