---
apiVersion: v1
kind: Secret
metadata:
  name: smtp-secret
  namespace: tealc
data:
  smtp_username: {{ smtp_username | b64encode }}
  smtp_password: {{ smtp_password | b64encode }}
  smtp_server: {{ smtp_server | b64encode }}
  smtp_email: {{ smtp_email | b64encode }}
