apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: open-cluster-management-observability
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      access_key: {{ aws_access_key_id }}
      secret_key: {{ aws_access_key_secret }}
      endpoint: {{ acm_aws_endpoint }}
      region: {{ aws_region }}
      bucket: {{ acm_bucket_name }}
