kind: ConfigMap
apiVersion: v1
metadata:
  name: observability-metrics-custom-allowlist
  # let kubernetes-replicator sync the config map accross all namespaces
  annotations:
    replicator.v1.mittwald.de/replicate-to: ".*"
data:
  metrics_list.yaml: |
    names:
      - container_cpu_usage_seconds_total
      - container_memory_usage_bytes
    matches:
      - __name__=~".*(kafka|strimzi|jvm|argo|tealc|thor|strimzi-e2e|odh-e2e).*"
  uwl_metrics_list.yaml: |
    names: 
      - container_memory_usage_bytes
      - container_cpu_usage_seconds_total
      - process_open_fds
    matches:
      - __name__=~".*(kafka|strimzi|jvm|argo|debezium|tealc|thor|strimzi-e2e|odh-e2e).*"
      - container=~".*(dmt|kafka|strimzi).*"
