apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: tekton-secret
    app.kubernetes.io/part-of: tekton
    app: tealc
    project: tealc
  name: {{ worker.name }}-tekton
type: Opaque
stringData:
  token: {{ access_token }}
  server: {{ worker.serverUrl }}
