apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-operator
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: strimzi-cluster-operator
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-operator
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-kafka
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: kafka
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-canary
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: strimzi-canary
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-drain-cleaner
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: strimzi-drain-cleaner
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-drain-cleaner
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-clients
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: clients
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-clients
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-monitoring-grafana
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/grafana
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-monitoring
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-kafka
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/kafka
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-cluster-operator
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/strimzi-operator
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-operator
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-drain-cleaner
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/strimzi-drain-cleaner
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-drain-cleaner
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-canary
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/canary
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-alerts-kafka-connect
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/kafka-connect
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-twitter-connector
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-users-topics
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: twitter-connector/users-topics
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-kafka
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-connect
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: twitter-connector/connect
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-twitter-connector
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-connectors
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: twitter-connector/connectors
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-twitter-connector
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-apps
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: twitter-connector/apps
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-twitter-connector
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-twitter-clients
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: twitter-connector/clients
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ worker_cluster_connection }}
    namespace: strimzi-clients