apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-alerts-{{ cluster }}
  labels:
    project: tealc
    app: argo
spec:
  project: default
  source:
    repoURL: https://github.com/ExcelentProject/sokar
    targetRevision: HEAD
    path: metrics/alerts/argo
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  destination:
    name: {{ cluster }}
    namespace: tealc-gitops
