---
- name: Create Tekton pipelines cleaner cron job
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    src: "{{ item }}"
    verify_ssl: no
    apply: true
  with_fileglob: 'templates/tekton/pipelines/cleaner/*.yaml'

- name: Create infra/worker cluster related Tekton pipelines
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    template: "templates/tekton/pipelines/infra/{{ item }}"
    verify_ssl: no
    apply: true
  loop:
    - secret-copy.yaml.j2
    - automation-hub-install.yaml.j2

- name: Sleep for 5 seconds and continue with play (wait tull everything is setup)
  wait_for:
    timeout: 5

- name: Create Tekton pipelines from jinja templates for main_cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  with_fileglob: 'templates/tekton/pipelines/*.j2'
  vars:
    name: "worker-01"

- name: Create Tekton pipelines for test suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "{{ item }}"
  with_fileglob: 'templates/tekton/pipelines/test-suite/*.j2'
  vars:
    name: "worker-01"

- name: Create collector metrics for strimzi-e2e suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "templates/tekton/pipelines/test-suite/strimzi-e2e-metrics-collector.yaml"

- name: Create collector metrics for odh-e2e suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "templates/tekton/pipelines/test-suite/odh-e2e-metrics-collector.yaml"

- name: Create collector metrics for odh-e2e-standard suites
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "templates/tekton/pipelines/test-suite/odh-e2e-standard-metrics-collector.yaml"

- name: "Rollout collector"
  shell: "oc rollout restart deployment/tealc-metrics-collector -n {{ infra_ci_namespace }}"
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}/{{ infra_context_name }}"

- name: Create Tekton pipelines from jinja templates for release_cluster and downstream_cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}/{{ infra_context_name }}"
    namespace: "{{ infra_ci_namespace }}"
    state: present
    verify_ssl: no
    apply: true
    template: "templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2"
  loop: "{{ clusters_dict.values() }}"
  loop_control:
    loop_var: cluster
