apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: operator-group
  namespace: {{ openshift_logging_namespace }}
spec:
  targetNamespaces:
    - {{ openshift_logging_namespace }}
  upgradeStrategy: Default
